/* --------  GENERAL -------- */
body {
  font-size: .875rem;
  color: #555555;
  background-color:#eee;
  font-weight: 300 !important;
}

.body {
  font-size: .875rem;
  color: #444444;
  background-color:#eee;
}

a:hover, a:active a:focus {
  color: #fa8a05;
  text-decoration: none;
}

.navbar-dark {
  background-color: #000 !important;
  color: #999;
}

.main-dark {
  background-color: #000 !important;
  color: #999 !important;
}

.modal-dark { 
  background-color: #cccdce !important;
  color: #222;
}

.modal-dark textarea {
  background-color: #e0e0e0
}

.modal-dark .modal-header {
  border-bottom: 1px solid #777;
}

.modal-dark .modal-footer {
  border-top: 1px solid #777;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}


/* --------  BOOTSTRAP CARDS -------- */

.card-dark {
  background-color: #161718 !important;
}

.card {
  margin-bottom: 30px;
}

.card-header {
  background-color: inherit;
  border-bottom: none;
}

.card-footer {
  background-color: inherit;
  border-top: none;
}

.card-title {
  font-size: 1.5rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/* -------- TABLES -------- */
.table thead th {
  border-top: none !important;
}

.card-dark .table td, .card-dark .table th {
  padding: .75rem;
  border-top: 1px solid #2c2c2c !important;
}

.card-dark .table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #333;
  color: #bbb !important;
  border-top: none !important;
}

.card-dark .table-hover tbody tr:hover td, .card-dark .table-hover tbody tr:hover th {
  background-color: #232425 !important;
}


/* -------- SIDEBAR -------- */

.main-dark .host-heading {
    font-size: 14px;
    color: #ddd !important;
    text-transform: none;
}

.host-heading {
  font-size: 14px;
  text-transform: none;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: 2.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 300;
  color: #999;
  padding-left: 38px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}


/* -------- NAVBAR -------- */

 .navbar-nav {
  flex-direction: row;
}

.nav-item{
    margin-right: 20px;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;

  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }


.alert-warning {
  color: #fa8a05;
  background-color: #333;
  border-color: #555;
}


.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}